<!DOCTYPE html>
<html>
<head>

    <title>Edit Party</title>

    <style>

        body{
            font-family: Arial;
            padding:20px;
        }

        input{
            width:300px;
            padding:10px;
            margin-bottom:10px;
        }

        button{
            padding:10px 20px;
        }

    </style>

</head>

<body>

<h2>Edit Party</h2>

<form method="POST">

    <input type="text"
           name="party_name"
           value="{{ party['party_name'] }}"
           placeholder="Party Name"
           required>

    <br>

    <input type="text"
           name="party_address"
           value="{{ party['party_address'] }}"
           placeholder="Address">

    <br>

    <button type="submit">
        Update Party
    </button>

</form>

</body>
</html>